@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Comparer l'article</h1>

<br>
<hr>

@{
    foreach (var item in Model)
    {
    <div>
        <h2>@item.</h2>
        <p></p>
        <p></p>
        <p></p>


    </div>
    }

}

