<div class="row">
    <div class="col-md-4">
        <form asp-controller="Customer" asp-action="SaveNewPassword">
            <div class="form-group">
                <label class="control-label">Enter Email</label>
                <input type="email" name="email" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Enter New Password</label>
                <input type="password" name="pwd" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Re-Type New Password</label>
                <input type="password" name="pwdMatch" class="form-control" onchange="checkMatchingPassword"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="submit" />
                <label id="error"></label>
            </div>
        </form>
    </div>
</div>

<script>
    function checkMatchingPassword() {
        pwd1 = form.pwd;
        pwd2 = form.pwdMatch;

        if (pwd2 != pwd1) {
            document.getElementById("error").innerHTML = "Passwords don't match";
        }
        else {
            document.getElementById("submit").disabled = false;
        }
    }
</script>
