<div class="row">
    <div class="col-md-4">
        <form asp-controller="CustomerFR" asp-action="SaveNewPasswordFR">
            <div class="form-group">
                <label class="control-label">Courriel</label>
                <input type="email" name="email" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Entrez un nouveau mot de passe</label>
                <input type="password" name="pwd" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> Re-taper le nouveau mot de passe</label>
                <input type="password" name="pwdMatch" class="form-control" onchange="checkMatchingPassword"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" id="submit" />
                <label id="error"></label>
            </div>
        </form>
    </div>
</div>

<script>
    function checkMatchingPassword() {
        pwd1 = form.pwd;
        pwd2 = form.pwdMatch;

        if (pwd2 != pwd1) {
            document.getElementById("error").innerHTML = "Les mots de passe ne correspondent pas";
        }
        else {
            document.getElementById("submit").disabled = false;
        }
    }
</script>
