<div class="row">
    <div class="col-md-4">
        <form asp-controller="CustomerFR" asp-action="PasswordResetFR">
            <div class="form-group">
                <label class="control-label">Courriel</label>
                <input type="email" name="email" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Envoyer" class="btn btn-primary" id="submit" />
            </div>
        </form>
    </div>
</div>