@model NoNameBikes.Models.Customer

@{
    ViewData["Title"] = "Email Confirmation";
}

<h1>Password Saved</h1>

<h2>New Password set for @Model.EmailAddress</h2>

<p>Click here to go back to the <a asp-controller="Customer" asp-action="LogIn">Log in</a> page.</p>
