@model NoNameBikes.Models.Customer

@{
    ViewData["Title"] = "Email Confirmation";
}

<h1>Email Confirmation</h1>

<h2>Registration Complete, Welcome @Model.FirstName @Model.LastName</h2>

<p>An email confirmation was sent to @Model.EmailAddress</p>