@model NoNameBikes.Models.Contact;

@{ 
    ViewData["Title"] = "Confirmation de l'émail";
}

<h1>Confirmation de l'émail</h1>

<h2>Merci de nous contacter, @Model.FirstName @Model.LastName</h2>

<p>Une copie a été envoyée à @Model.Email</p>