@model IEnumerable<NoNameBikes.Models.ClothingListModel>

@{
    ViewData["Title"] = "Tights";
}

<h1>Tights</h1>

<table class="table">
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.ProductModel, "Details", new { id = item.ProductModelID })
                </td>
                <td>
                    @item.Description
                </td>

            </tr>
        }
    }
</table>