@{
    ViewData["Title"] = "Careers";
}

<div class="text-center">
    <hr>
    <br />
    <h1>Careers</h1>
    <br />
    <hr>
    <br />
    <img class="img" src="~/images/bike-store-employee.jpg" />
    <br />
    <hr />
</div>

    <h2>Working with us.</h2>

    <p>No Name Bikes is a great place to work. Our biggest asset is the people who work for us. Take a look at our current opportunites to see if there's one that's right for you.</p>

    <h2>What we offer:</h2>
    <ul>
        <li>Flexible hours</li>
        <li>Competitive salary</li>
        <li>Free pizza twice a month</li>
    </ul>
    <hr />
    <h2>Jobs Available:</h2>
    <br />
    <h3>Junior Technician</h3>
    <p>Looking for someone with experience fixing bicycles and never backs down from a challenge.</p>
    <p>Salary: $19-$22.50/hour</p>
    <h4>Job Responsabilities:</h4>
    <ul>
        <li>Diagnose and repair problems with bikes</li>
        <li>Make custom adjustments to new bikes</li>
        <li>Perform regular maintenance of bikes</li>
        <li>Willingness to learn new cycling technologies</li>
    </ul>
    <h4>Experience Required:</h4>
    <ul>
        <li>1 year work experience as a bike technician</li>
        <li>Bilingual</li>
        <li>Must be able to lift up to 60 lbs</li>
        <li>Enjoys working in a team</li>
        <li>Retail experience is a plus</li>
    </ul>
    <br />
    <h3>Salesman</h3>
    <p>Looking for someone with retail sales experience.</p>
    <p>Salary: $13-$17/hour</p>
    <h4>Job Responsabilities:</h4>
    <ul>
        <li>Inform customers of our product offerings</li>
        <li>Help customers find what they're looking for</li>
        <li>Serve customers in English and French</li>
        <li>Provide exceptional customer service</li>
    </ul>
    <h4>Experience Required:</h4>
    <ul>
        <li>1 year work experience in a retail environment</li>
        <li>Bilingual</li>
        <li>Comfortable working with customers</li>
        <li>Enjoys working in a team</li>
    </ul>
    <br />
    <p>Interested? Send your CV by email to us: <a href="mailto:careers@nonamebikes.com">careers@nonamebikes.com</a></p>

    <h2></h2>
