
@{
    ViewData["Title"] = "Services";
}

<style>
    table {
        table-layout: fixed;
        margin-top: 20px;
    }

    td {
        border-collapse: collapse;
        vertical-align: top;
        text-align: left;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    th {
        background-color: #173a73;
        font-weight: normal;
        text-align: center;
        font-size: x-large;
        color: white;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    td#silver {
        background-color: #e6e6e6
    }

    td#gold {
        background-color: #fff3b2;
    }

    td#titaniun {
        background-color: #a3d3e6
    }

    image {
        width: 200px;
        height: 100px;
    }

    h1, h3 {
        text-align: center;
    }

    li {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: large;
    }

    p {
        font-size: large;
    }
</style>

<hr>
<br/>
<h1 class="text-center">Services</h1>
<br/>
<hr>
<br/>
<h4>Mise au point</h4>
<table>
    <tr>
        <th>Argent</th>
        <th>Or</th>
        <th>Titanium</th>
    </tr>
    <tr>
        <td id="silver">
            <ul>
                <li>$49.99</li>
                <li>Cette mise au point est réservée à tous les vélos enfants et adultes de toutes formes et tailles!</li>
                <li>Réglez les deux freins.</li>
                <li>Ajuster la transmission.</li>
                <li>Assurez-vous que chaque boulon du vélo est bien serré.</li>
                <li>Essuyez bien le vélo et assurez-vous qu'il est beau et propre!</li>
                <li>Alignement des deux roues.</li>
            </ul>
        </td>
        <td id="gold">
            <ul>
                <li>$89.99</li>
                <li>Cette mise au point est réservée à tous les vélos adultes de toutes formes et tailles!</li>
                <li>Réglez les deux freins.</li>
                <li>Ajuster la transmission.</li>
                <li>Assurez-vous que chaque boulon du vélo est bien serré.</li>
                <li>Alignement des deux roues.</li>
                <li>Démontage et remontage complets du vélo.</li>
                <li>Lavage du cadre du vélo. (Nous aimons l'appeler un bain)</li>
                <li>Nettoyage de tous les composants du vélo.</li>
            </ul>
        </td>
        <td id="titaniun">
            <ul>
                <li>$139.99</li>
                <li>Cette mise au point est réservée à tous les vélos adultes de toutes formes et tailles!</li>
                <li>Réglez les deux freins.</li>
                <li>Ajuster la transmission.</li>
                <li>Assurez-vous que chaque boulon du vélo est bien serré.</li>
                <li>Alignement des deux roues.</li>
                <li>Démontage et remontage complets du vélo.</li>
                <li>Lavage du cadre du vélo. (Nous aimons l'appeler un bain)</li>
                <li>Nettoyage de tous les composants du vélo.</li>
                <li>Remplacement de tous les câbles de changement de vitesse et de frein, ainsi que de leur logement.</li>
            </ul>
        </td>
    </tr>
</table>

<br />
<hr />
<br />

<h4>Fitting</h4>
<p>
    Faire du vélo est-il inconfortable? Faire du vélo entraîne-t-il des douleurs et des courbatures dans votre corps?
    Ne t'inquiètes pas! Nous avons les meilleurs services de montage. Nous ajusterons votre vélo et l'adapterons à votre confort. Votre vélo va
    être parfaitement adapté à votre corps.
    <br />
    Nos frais de services de montage sont de 79,99 $ pour tous les vélos.
</p>

<br />
<hr />
<br />

<h4>Rendez-vous</h4>
<p>
    Nous sommes une équipe très dévouée et nous voulons que chacun se sente satisfait de nos services. Nous prenons le temps d'évaluer et de réparer chaque vélo de manière approfondie et précise.
    <br />
    Pour faire réparer votre vélo, veuillez prendre rendez-vous au<a href="tel:5141234567">514-123-4567</a> ou <a href="mailto:NoNameBikes@store.com">NoNameBikes@store.com</a>.
</p>
<br />
<br />