@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "About Us";
}

<style>
    div {
        text-align: center;
    }

    table {
        table-layout: fixed;
        width: 100%;
    }

    .players {
        padding: 0px;
    }

    #row1 {
        border-bottom: 1px solid;
    }

    .row2 {
        padding-top: 10px;
    }

    #mainImage {
        margin: 20px;
    }

    p {
        font-size:large;
    }
</style>

<div>
    <hr>
    <br/>
    <h1 class="text-center">About Us</h1>
    <br/>
    <hr>
    <br />
    <h4>We can get you pedaling in no time.</h4>

    <img class="img" src="~/images/AboutUs/about_us.jpg" alt="road bike picture" id="mainImage" />
    <br />
    <br />
    <hr />
    <h1>Our Goal</h1>
    <br />
    <p>
        No Name Brand bike shop is your one stop shop for all your bicycle needs.
        We cater to casual biker and professional cyclist as well.
        Reducing fossil fuel emission is our main priority and providing people with a healthy hobby or a mode of transportation for a long and happy life with family and friends.
        We want our customer to have an amazing experiences and memories with our bikes no matter the age.
        Starting from early childhoods sitting at the back of our parent's bikes to getting our own bike as child.
        Then removing our training wheels is a monumental milestone in a child's life going towards getting an adult's bike and repeating the cycle with the blessing of our own children.
    </p>
    <br />
    <br />
    <table>
        <tr>
            <td>
                <img class="icon" src="~/images/love.svg" alt="heart icon" width="150px" height="150px" />
            </td>
            <td>
                <img class="icon" src="~/images/performance.png" alt="performance icon" width="150px" height="150px" />
            </td>
            <td>
                <img class="icon" src="~/images/quality.svg" alt="quality icon" width="150px" height="180px" />
            </td>
        </tr>
        <tr>
            <td>Love</td>
            <td>Performance</td>
            <td>Quality</td>
        </tr>
        <tr>
            <td>Our bikes are crafted with love for our dear customers.</td>
            <td>Our bikes are built for optimal performance in any weather.</td>
            <td>Each component are made with quality materials for maximum comfort and performance.</td>
        </tr>
    </table>
    <br />
    <br />
    <hr />
    <h1>Our Story</h1>
    <br />
    <p>
        Starting from a humble beginning with a father wanting to share his passion for bikes with his children to today's
        were we are now. No Name Brand Bike Company began in a small garage fixing anyone's bike who needed some care.
        With his kids by his side, he showed them everything he knew about bikes. Later on, the owner started to sell
        bikes so those who wanted to try out becoming a cyclist would have a place where they felt welcome in a casual setting.
    </p>
    <img class="img" src="~/images/AboutUs/kevin-wolf-3AbwSH1y9dc-unsplash.jpg" alt="bike in front of a garage picture" width="600px" height="400px" id="mainImage" />
    <br />
    <br />
    <hr />
    <h1>Our Key Players</h1>
    <br />
    <table>
        <tr>
            <th>Claudiu Scotnotis</th>
            <th>Emmett Coffin</th>
            <th>Dipesh Patel</th>
        </tr>
        <tr>
            <td class="players">Owner</td>
            <td class="players">Bike Mechanics</td>
            <td class="players">Salesman</td>
        </tr>
        <tr>
            <td class="players"><img class="img" src="~/images/vicky-hladynets-GRyMXAQdtp8-unsplash.jpg" alt="Claudiu Scotnotis portrait" width="250px" height="300px" /></td>
            <td class="players"><img class="img" src="~/images/susanna-marsiglia-CZwXvMhFLk8-unsplash.jpg" alt="Emmet Coffin portrait" width="250px" height="300px" /></td>
            <td class="players"><img class="img" src="~/images/jurica-koletic-7YVZYZeITc8-unsplash.jpg" alt="Dipesh Patel portrait" width="250px" height="300px" /></td>
        </tr>
        <tr id="row1">
            <td class="players">Expert in any fields related to bikes.</td>
            <td class="players">Expert in bicycle components for any repairs or upgrade.</td>
            <td class="players">Expert in providing quality customer services for a stressed free shopping experience.</td>
        </tr>
        <tr>
            <th class="row2">Eric Zbacnik-Li</th>
            <th class="row2">Jennifer Hann</th>
        </tr>
        <tr>
            <td class="players">Manager</td>
            <td class="players">Saleswoman</td>
        </tr>
        <tr>
            <td class="players"><img class="img" src="~/images/philip-martin-5aGUyCW_PJw-unsplash.jpg" alt="Eric Zbacnik-li portrait" width="250px" height="300px" /></td>
            <td class="players"><img class="img" src="~/images/andrey-zvyagintsev-PdcNOb4iYFs-unsplash.jpg" alt="Jennifer Hann portrait" width="250px" height="300px" /></td>
        </tr>
        <tr>
            <td class="players">Expert in all brands and models to help our customer choose the perfect bike.</td>
            <td class="players">Expert at providing tips and pairing the right accessories with our customer lifestyle.</td>
        </tr>
    </table>
</div>







