@{
    ViewData["Title"] = "Carrières";
}

<style>

</style>
<div class="text-center">
    <hr>
    <br />
    <h1 class="text-center">Carrière</h1>
    <br />
    <hr>
    <br />
    <img class="text-align" src="~/images/bike-store-employee.jpg" />
    <br />
    <hr />
</div>
<h2>Travailler avec nous.</h2>

<p>No Name Bikes est un excellent lieu de travail. Notre plus grand atout, ce sont les gens qui travaillent pour nous. Jetez un œil à nos opportunités actuelles pour voir s'il y en a une qui vous convient.</p>

<h2>Ce que nous offrons:</h2>
    <ul>
        <li>Heures flexibles</li>
        <li>Competitive salary</li>
        <li>Pizza gratuite deux fois par mois</li>
    </ul>
    <hr />
    <h2>Emplois disponibles:</h2>
    <br />
    <h3>Junior Technician</h3>
    <p>Vous cherchez quelqu'un qui a de l'expérience dans la réparation de vélos et qui ne recule jamais devant un défi.</p>
    <p>Salaire: $19-$22.50/heure</p>
    <h4>Responsabilités professionnelles:</h4>
    <ul>
        <li>Diagnostiquer et réparer les problèmes avec les vélos</li>
        <li>Effectuer des ajustements personnalisés sur les nouveaux vélos</li>
        <li>Effectuer un entretien régulier des vélos</li>
        <li>Volonté d'apprendre les nouvelles technologies du cyclisme</li>
    </ul>
    <h4>Expérience requise:</h4>
    <ul>
        <li>1 an d'expérience professionnelle en tant que technicien vélo</li>
        <li>Bilingual</li>
        <li>Doit être capable de soulever jusqu'à 60 lb</li>
        <li>Aime travailler en équipe</li>
        <li>L'expérience de la vente au détail est un plus</li>
    </ul>
    <br />
    <h3>Vendeur</h3>
    <p>Vous cherchez quelqu'un avec une expérience de la vente au détail.</p>
    <p>Salaire: $13-$17/heure</p>
    <h4>Responsabilités professionnelles:</h4>
    <ul>
        <li>Informer les clients de nos offres de produits</li>
        <li>Aidez les clients à trouver ce qu'ils recherchent</li>
        <li>Servir les clients en anglais et en français</li>
        <li>Fournir un service client exceptionnel</li>
    </ul>
    <h4>Expérience requise:</h4>
    <ul>
        <li>1 an d'expérience professionnelle dans un environnement de vente au détail</li>
        <li>Bilingual</li>
        <li>Travailler à l'aise avec les clients</li>
        <li>Aime travailler en équipe</li>
    </ul>
    <br />
    <p>Intéressé? Envoyez-nous votre résumé par email:<a href="mailto:careers@nonamebikes.com">careers@nonamebikes.com</a></p>

    <h2></h2>
