
@{
    ViewData["Title"] = "Our Services";
}

<style>
    table {
        table-layout: fixed;
        margin-top: 20px;
        width:100%;
    }

    td {
        border-collapse: collapse;
        vertical-align: top;
        text-align: left;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
        width:33%;
    }

    .service-title {
        background-color: #173a73;
        font-weight: normal;
        text-align: center;
        font-size: x-large;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    image {
        width: 200px;
        height: 100px;
    }

    h1, h3 {
        text-align: center;
    }

    .services-grid.li {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: x-large;
    }

    p {
        font-size: large;
    }
</style>

<hr>
<br/>
<h1 class="text-center">Services</h1>
<br/>
<hr>
<br/>
<h4>Tune ups</h4>
<div class="services-grid">

    <span class="service-title" id="silver-title">Silver</span>  
    <span class="service-title" id="gold-title">Gold</span>    
    <span class="service-title" id="titanium-title">Titanium</span>

    <div id="silver">
        <ul>
            <li>$49.99</li>
            <li>This tune up is reserved for all children and adult bikes of any shape and size!</li>
            <li>Adjust both brakes</li>
            <li>Adjust the drivetrain.</li>
            <li>Make sure every bolt on the bike is nice and tight.</li>
            <li>Give the bike a good wipe down and make sure it's nice and clean!</li>
            <li>Alignment of both wheels.</li>
        </ul>
    </div>
    <div id="gold">
        <ul>
            <li>$89.99</li>
            <li>This tune up is reserved for all adult bikes of any shape and size!</li>
            <li>Adjust both brakes.</li>
            <li>Adjust the drivetrain.</li>
            <li>Make sure every bolt on the bike is nice and tight.</li>
            <li>Alignment of both wheels.</li>
            <li>Complete disassembly and reassembly of the bicycle.</li>
            <li>Washing of the bike frame. (We like to call it a bath)</li>
            <li>Cleaning of all bike components.</li>
        </ul>
    </div>
    <div id="titaniun">
        <ul>
            <li>$139.99</li>
            <li>This tune up is reserved for all adult bikes of any shape and size!</li>
            <li>Adjust both brakes.</li>
            <li>Adjust the drivetrain.</li>
            <li>Make sure every bolt on the bike is nice and tight.</li>
            <li>Alignment of both wheels.</li>
            <li>Complete disassembly and reassembly of the bicycle.</li>
            <li>Washing of the bike frame. (We like to call it a bath)</li>
            <li>Cleaning of all bike components.</li>
            <li>Replacement of all shift and brake cables, as well as their housing.</li>
        </ul>
    </div>
</div>

<br />
<hr />
<br />

<h4>Fitting</h4>
<p>
    Does riding your bike feel uncomfortable? Does riding your bike result in having pain and soreness in your body?
    Worry not! We have the best fitting services. We will adjust your bike and make it to your confort. Your bike will
    be fitted for your body perfectly.
    <br />
    Our fitting services fees are $79.99 for all bikes.
</p>

<br />
<hr />
<br />

<h4>Appointments</h4>
<p>
    We are a very dedicated team and we want everyone to feel satisfied with our services. We take time to evaluate and fix every bike thoroughly and precisely.
    <br />
    To have your bike fixed please book an appointment at <a href="tel:5141234567">514-123-4567</a> or <a href="mailto:NoNameBikes@store.com">NoNameBikes@store.com</a>.
</p>
<br />
<br />